@tailwind base;
@tailwind components;
@tailwind utilities;



:root{
    /* colors */
    --primary-color:#659F20;
    --primary-text-color:#1E1E1E;
    --btn-shadow-color:#E06500;
    --orange-text: #F49C00;
    --hero-bg:  #FFA500;



    /* fonts */
    --font-primary: "Dela Gothic One", sans-serif;
    --font-secondary:"Montserrat", sans-serif;
    --font-inter: "Inter", sans-serif;
    --font-mulish: "Mulish", sans-serif;
}


